@use "global" as *;
.c-card {
    display: inline-block;
    box-sizing: border-box;
    background-color: $white;
    border: solid #96A6B8 1px;
    padding: rem(30) rem(30) rem(34) rem(30);
}
.c-card__img {
    width: 100%;
}
.c-card__img img {
    aspect-ratio: 320 / 240;
    object-fit: cover;
}
.c-card__data {
    display: flex;
    align-items: center;
    margin-top: rem(21);
}
.c-card__category {
    font-size: rem(15);
    line-height: calc(30 / 15);
    letter-spacing: .08em;
    font-weight: 400;
    color: #52944f;
}
.c-card__line {
    display: inline-block;
    background-color: #96A6B8;
    width: rem(1);
    height: rem(14);
    margin-left: rem(11);
}
.c-card__time {
    font-size: rem(13);
    line-height: calc(26 / 13);
    color: $dark-green;
    margin-left: rem(12);
    letter-spacing: .08em;
    font-weight: 400;
}
.c-card__text {
    font-size: rem(17);
    line-height: calc(27.2 / 17);
    letter-spacing: .08em;
    font-weight: 500;
    color: $dark-green;
    margin-top: rem(4);
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}