@use "global" as *;
.p-footer {
    background-color: #E0E8EE;
    padding: rem(44) 0 rem(28);
    @include mq('md') {
        padding: rem(74) 0 rem(38);
    }
}
.p-footer-container__main {
    display: flex;
    flex-direction: column;
    @include mq('md') {
        flex-direction: row;
    }
}
.p-footer-main__img {
    margin-top: rem(6);
}
.p-footer-main__img img {
    aspect-ratio: 180 / 59;
    object-fit: contain;
}
.p-footer-main__nav {
    margin-top: rem(32);
    @include mq('md') {
        margin-left: rem(104);
        margin-top: 0;
    }
}
.p-footer-nav__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(30);
    row-gap: rem(20);
    @include mq('md') {
        justify-content: space-between;
        column-gap: rem(60);
        row-gap: rem(30);
    }
}
.p-footer-nav__item {
    min-width: rem(140);
    @include mq('md') {
        min-width: initial;
    }
}
.p-footer-nav__item > a {
    font-size: rem(17);
    font-weight: 500;
    letter-spacing: .08em;
    line-height: calc(27.2 / 17);
    color: $dark-green;
}
.p-footer-nav-sub__list {
    margin-top: rem(12);
}
.p-footer-nav-sub-list__item {
    font-size: rem(14);
    line-height: calc(30.8 / 14);
    letter-spacing: .08em;
    font-weight: 400;
    color: $dark-green;
}

.p-footer-main__contact {
    margin-top: rem(30);
    @include mq('md') {
        margin-left: rem(88);
        margin-top: rem(6);
    }
}
.p-footer-main-contact__btn {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(20);
    row-gap: rem(20);
    @include mq('md') {
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
.p-footer-main-contact-btn__item {
    font-size: rem(14);
    line-height: calc(28 / 14);
    letter-spacing: .04em;
    font-weight: 500;
    border-radius: 100px;
    box-shadow: 1px 1px 6px rgba(40, 100, 180, 0.06);
}
.p-footer-contact-btn__recruit {
    background-color: $white;
    color: $navy;
    text-align: center;
    padding: rem(5) rem(30) rem(7);
    min-width: rem(240);
}
.p-footer-contact-btn__recruit:hover {
    background-color: $navy;
    color: $white;
    opacity: 1;
}
.p-footer-contact-btn__contact {
    text-align: center;
    background-color: $green;
    color: $white;
    padding: rem(4) rem(30) rem(5);
    min-width: rem(240);
    border: 1px solid $green;
}
.p-footer-contact-btn__contact:hover {
    background-color: $white;
    color: $green;
    opacity: 1;
    border: 1px solid $green;
}
.p-footer-main-contact__sns {
    display: flex;
    align-items: center;
    margin-top: rem(20);
    @include mq('md') {
        justify-content: space-between;
        margin: rem(43) rem(30) 0;
    }
}
.p-footer-main-contact__sns a:nth-child(n+2) {
    margin-left: rem(20);
    @include mq('md') {
        margin-left: 0;
    }
}
.p-footer__text {
    display: flex;
    flex-direction: column;
    margin-top: rem(18);
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: rem(26);
    color: $dark-green;
    @include mq('md') {
        column-gap: rem(56);
        justify-content: flex-end;
        margin-top: rem(68);
        flex-wrap: nowrap;
    }
}
.p-footer-text__policy {
    font-size: rem(12);
    line-height: calc(26.4 / 12);
    letter-spacing: .08em;
    font-weight: 400;
}
.p-footer-text__copyright {
    font-size: rem(10);
    line-height: calc(16 / 10);
    letter-spacing: .14em;
    font-family: $font-sub;
}
